<!doctype html>
<html lang = "es">
<head>
<meta charset = "utf-8">
<meta name ="viewport" content = "width=device-width, initial-scale =1, shrink to fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="accesorios.css">
<link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
<title>MarysolFernandez</title>
</head>
<body>
<div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand monograma" href="../../../index.html">MFV</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
            
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vestuario
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="#">Comerciales</a>
          <a class="dropdown-item" href="../FotoFija/fotoFija.html">Foto Fija</a>
        </div>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Maquillaje
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../../Maquillaje/Novias/maq_novias.html">Novias</a>
          <a class="dropdown-item" href="../../Maquillaje/Comerciales/comerciales.html">Comerciales</a>
           <a class="dropdown-item" href="../../Maquillaje/FotoFija/fotoFija.html">Foto Fija</a>
          
      </li>
     

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Fotografia
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../../fotografia/Noviasfoto/Noviasfoto.html">Novias</a>
          <a class="dropdown-item" href="../../fotografia/Retratos/retratos.html">Retratos</a>
           <a class="dropdown-item" href="../../fotografia/Arte/Arte.html">Arte</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../../fotografia/Empoderamiento/empoderamiento.html">Retratos Empoderantes</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../Mary/mary.html">Sobre Marysol</a>
      </li>
     
    </ul>
  </div>
  
</nav>
<div class="container encabezado">
  
    
      <h1>Vestuario para Comerciales</h1>
   
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="accesorio1.jpg" alt="estaciones de maquillaje para pasarela">
    <div class="card-body">
      <h5 class="card-title">Broche de pelo</h5>
      <p class="card-text">Las plumas y chaquiras son lo de hoy. </p>
      <p class="card-text"><small class="text-muted">Invierno 2018</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="accesorio2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Bolsa</h5>
      <p class="card-text">Esta bolsa tiene los colores de temporada y es ideal para verte chic y a la moda</p>
      <p class="card-text"><small class="text-muted"> Invierno 2018</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="accesorio3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Accesorio de la temporada</h5>
      <p class="card-text">Este collar resalta los colores de temporada.</p>
      <p class="card-text"><small class="text-muted">Invierno 2018</small></p>
    </div>
  </div>
</div>


 
  
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>

