<!doctype html>
<html lang = "es">
<head>
<meta charset = "utf-8">
<meta name ="viewport" content = "width=device-width, initial-scale =1, shrink to fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
<link rel="stylesheet" href="pasarela.css">
<title>MarysolFernandez</title>
</head>
<body>
<div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand monograma" href="../index.html/">MFV</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="../index.html/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">Vestuario</a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Maquillaje
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../Maquillaje/Novias/maq_novias.html">Novias</a>
          <a class="dropdown-item" href="../Maquillaje/Ocasiones/ocasiones.html">Ocasiones Especiales</a>
          <a class="dropdown-item" href="../Maquillaje/Comerciales/comerciales.html">Comerciales</a>
           <a class="dropdown-item" href="../Maquillaje/Pasarela/pasarela.html">Pasarela</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../Consultoria/consultoria.html">Consultoria de Estilo</a>
        </div>
      </li>
     

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Fotografia
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Novias</a>
          <a class="dropdown-item" href="#">Retratos</a>
           <a class="dropdown-item" href="#">Arte</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Retratos Empoderantes</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sobre Marysol</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>

<div class="container encabezado">
  <div class="row">
    <div class="col-sm">
    
      
    </div>
    <div class="col-sm titulo">
      Pasarela
    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="pasarela4.jpg" alt="estaciones de maquillaje para pasarela">
    <div class="card-body">
      <h5 class="card-title">Dolce Gabbana</h5>
      <p class="card-text">Pasarela Otono/Invierno 2018</p>
      <p class="card-text"><small class="text-muted">CDMX, Junio 2018</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="pasarela5.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Julio</h5>
      <p class="card-text">Primavera 2017</p>
      <p class="card-text"><small class="text-muted">CDMX, Octubre 2016</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="pasarela3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Pasarela Chester+ Peck</h5>
      <p class="card-text">Pasarela Temporada Primavera/Verano 2012.</p>
      <p class="card-text"><small class="text-muted">Octubre 2011</small></p>
    </div>
  </div>
</div>


 
  
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>
